.leptos-color-gradient {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.leptos-color-color {
    width: calc(100% - 0.8rem);
    height: 200px;
    margin: 0.4rem;
    position: relative;
    background: hsl(var(--lpc-hue), 100%, 50%);
    border-radius: var(--lpc-border-radius);
    border: 1px solid var(--lpc-border-color);
    overflow: hidden;
}

.leptos-color-pointer {
    position: absolute;
    cursor: default;
    top: var(--lpc-saturation-pointer-top);
    left: var(--lpc-saturation-pointer-left);
}

.leptos-color-circle {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
    border: 2px solid #fff;
}

.saturation-white {
    background: -webkit-linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}
.saturation-black {
    background: -webkit-linear-gradient(to top, #000, rgba(0, 0, 0, 0));
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
}
